<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Crear Nuevo Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)" class="post-form">

    <div class="upload-container" (click)="uploadPhoto()">
      <img [src]="post_image ? post_image : 'assets/images/place_holder.jpeg'" class="upload-image" />
      <p *ngIf="!post_image" class="upload-text">Haz click para subir una imagen</p>
    </div>

    <ion-item class="custom-input">
      <ion-textarea label="Descripción del post" labelPlacement="floating" placeholder="Cuenta lo que estás pensando" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-footer class="footer">
      <ion-button 
      type="submit"
      [disabled]="!addPostForm.valid"
      expand="full"
      class="publish-button"
      >
        Publicar
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
